
<html>
    <head>
            {% load static %}
            <!-- Prism CSS -->
            <link href="{% static "tinymce/css/prism.css" %}" rel="stylesheet">
            <!-- Compiled and minified CSS -->
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
            <!-- Compiled and minified JavaScript for Materialize CSS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        </head>
    </head>

<body style="margin-bottom: 0px; background-color:rgb(196, 238, 248);">
    <marquee><h3>upcomming jobs</h3></marquee>
   <div class="container-fluid">
      <div class="row" style="margin-top: 6%">
        <div class="col-sm-8 blog-main">
            <table>
                <tr><td>
          <div class="blog-post">
              <div class="row">
                {% for cmpy in company %}
                <div>
                      <div class="col-md-4">
                        <div class="thumbnail">
                            <a href="{{ cmpy.get_absolute_url }}">
                                <img src="{% if cmpy.upload_logo %} {{ cmpy.upload_logo.url }} {% else %} {% static 'img/default.jpg' %} {% endif %}" alt="..." style="height: 130px; width: auto">
                            
                            <div class="caption">
                                <h3 class="text-center">
                                    <a href="{{ cmpy.get_absolute_url }}">{{ cmpy.Company_name }}</a>
                                </h3>
                                <p class="text-center"><h5> Work status:{{ cmpy.upcomming_jobs }}</h5></p>
                            </div></a>
                        </div>
                      </div>
                    </div>
                    <div class="progress">
                            <div class="indeterminate"></div>
                        </div>
                              
                {% endfor %}
              </div>
          </div><!-- /.blog-post -->
        </td>
    <td>
        </div>
        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
            <div class="sidebar-module">
              <h4>related companies</h4>
              <ol class="list-unstyled">
                {% for k in company %}
                <li {% if category.slug == c.slug %} class="active"{% endif %}>
                    <a href="{{ k.get_absolute_url }}">{{ k.Company_name}}</a>
              {% endfor %}
              </ol>
            </div>
          </div><!-- /.blog-sidebar -->
        </div><!-- /.row -->
  
      </div><!-- /.container -->
    </td></tr></table>
</body>
  </html>
