{% load static %}
<nav class="navbar navbar-default navbar-fixed-center" role="navigation" style="margin-bottom: 0px; background-color:rgb(129, 193, 212);">
  <!-- Brand and toggle get grouped for better mobile display -->
  
<tr height="15%"><td>
  <table  bgcolor=  #ec1212 width=100% >
  <tr>
      <!-- <a href="#" class="badge badge-primary">Primary</a> 
      <a href="#" class="badge badge-secondary">Secondary</a>
      <a href="#" class="badge badge-success">Success</a>
      <a href="#" class="badge badge-danger">Danger</a>
      <a href="#" class="badge badge-warning">Warning</a>
      <a href="#" class="badge badge-info">Info</a>
      <a href="#" class="badge badge-light">Light</a>
      <a href="#" class="badge badge-dark">Dark</a> -->
  <td align=left ><b><a href=# class="badge badge-warning" onclick='showMessage()'>HOME</a></b></td>
  <td align=left ><b><a href=# class="badge badge-secondary" onclick='showMessage()'>JOBS</a></b></td>
  <td align=left ><b><a href=register class="badge badge-success">REGISTRATION</a></b></td>

  <td align=left ><b><a href=# class="badge badge-danger"onclick='showMessage()'>CONTACTS</a></b></td>
  <td align=left ><b><a href=# class="badge badge-warning"onclick='showMessage()'>FAQ'S</td>
  <td align=left ><b><a href="s" class="badge badge-danger"onclick='showMessage1()'>suggestions</td></tr>
    

    </table>
  </td></tr>
</nav>
